  * {
      margin: 0;
      padding: 0;
  }

  body {
      overflow: scroll;
      font-family: sans-serif;
  }

  nav {

      display: flex;
      align-items: baseline;
      justify-content: center;
      font-family: sans-serif;
      background-color: white;
      position: sticky;


  }

  ul {
      display: flex;
      list-style: none;
      text-decoration-line: none;
  }

  ul li {
      padding: 0 15px;
  }

  ul li a {
      text-decoration-line: none;
      color: black;
      font-size: 14px;
      font-weight: 500;
  }

  .last {
      display: flex;
      align-items: center;
      justify-content: center;

  }

  li a:hover {
      color: #ec1944;
  }

  li a :active {
      color: #ec1944;
  }

  .last a {
      padding: 0 10px;
  }

  header.first h1 {
      color: #ec1944;
      font-size: 28px;
      font-weight: 700;
  }

  a img {
      height: 23px;
  }

  .last a button {
      background-color: #ec1944;
      border: none;
      font-size: 19px;
      padding: 15px 35px;
      border-radius: 10px;
      color: white;
      font-weight: 700;
  }

  .last {
      padding-left: 17%;
  }

  .last a {
      padding: 0px 11px;
  }

  li a select:focus {
      border: none;

  }

  select option {
      padding: 15px 25px;


  }

  .menubar {
      display: flex;
      align-items: center;
      padding: 5px 16px;
      display: none;

  }

  .section1 {

      /* width: 100%; */
      height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;

      color: white;
      font-family: sans-serif;

  }

  .section1 .box {
      margin: 0 15%;
  }

  .section1 .heading1 h1 {
      font-size: 80px;
      font-weight: 800;
  }

  .section1 .heading2 h6 {

      color: #ec1944;
      font-size: 14px;
      font-weight: 600;

  }

  .section1 .heading2 h6 :hover {

      color: white;

  }

  .section1 .heading2 {
      align-items: center;
  }

  .section1 .heading2 h6:hover {
      color: white;
  }

  .section1 .heading2 span {
      display: flex;
      width: 16px;
      height: 16px;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
  }


  .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3% 0;
      /* width: 100%; */
  }


  .section2 .red {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ec1944;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 12px;

  }


  .section2 .circles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .section2 .darkhead {
      display: flex;
      justify-content: center;

  }

  .darkhead h1 {
      font-size: 42px;
      font-family: sans-serif;
      text-align: center;
      font-weight: 700
  }

  .section2 .circles {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5% 0;
  }





  .section2 .circles .circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .section2 .img i {
      height: 120px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f1f2;
      border: 2px solid #f5f1f2;
      margin: 0 8px;
      border-radius: 50%;
      color: #ec1944;
  }

  .section2 .img i:hover {
      color: white;
      background-color: #ec1944;
      transform: translateY(-10px);
  }

  .section2 .circle .p {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

  }

  .section2 .circle .read {
      display: flex;
      align-items: center;
      justify-content: center;
  }


  .section2 .p h3 {
      font-family: sans-serif;
      font-weight: 600;
      font-size: 22px;
      color: black;
      outline: none;
      text-decoration: none;
      cursor: pointer;
  }

  .section2 .p h3:hover {
      color: #ec1944;
  }



  .section2 .p p {
      text-align: center;
      font-size: 17px;
      font-family: sans-serif;
      opacity: 0.7;
      margin: 4px 6px;
      ;
  }

  .section2 .read h6 {
      font-family: sans-serif;
      font-size: 15px;
      margin: 30px 9px;
  }

  .section2 .read span {
      display: flex;
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 50%;
      padding: 10px 10px;
      align-items: center;
      justify-content: center;
      color: white;
      background: #ec1944;
  }

  .section2 .read h6:hover {
      color: #ec1944;
  }


  .section3 {
      background-color: #ddd;
      /*  width: 100%; */

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .section3 .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 10%;

  }

  .section3 .box .left {
      width: 50%;

  }

  .section3 .box .right {
      width: 50%;

  }

  .section3 button {
      background: #ec1944;
      border: 2px solid #ec1944;
      border-radius: 11px;
      font-size: 19px;
      color: white;
      padding: 11px 30px;
      font-family: sans-serif;
      margin: 4px 0
  }

  .section3 .box .left {
      display: flex;
      flex-direction: column;
      justify-content: center;


  }

  .section3 .left .head {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section3 .parahead {
      font-size: 34px;
      font-family: sans-serif;
      font-weight: 700;
  }

  .para p {
      margin-right: 14%;
  }

  .parahead h3 {
      margin: 3% 0
  }

  .left .head .line {
      margin-bottom: 17px;
      padding: 0 6px;
  }

  .section3 .para {
      font-family: sans-serif;
      font-size: 18px;
      opacity: 0.8;
      margin: 3% 0;
  }

  .section3 .right {
      display: grid;
      gap: 4px 2px;
      grid-template-columns: 1fr 1fr;
  }

  .section3 .img1 {
      grid-row: 1/3;
  }

  .section3 .img2 {
      margin-top: 6%;
  }

  .right img {
      border-radius: 8px;
  }



  .section4 .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 6% 0;
  }

  .section4 .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 7px 20px 7px;
  }

  .section4 .head1 {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section4 .head2 h3 {
      font-weight: 700;
      margin: 30px;
      font-size: 38px;
  }

  .section4 .head1 .line {
      margin-bottom: 12px;
      padding: 0 7px;
  }

  .section4 .img {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;
  }

  .section4 .img img {
      width: 290px;
  }

  .section4 .img .imgs {
      border: 2px solid #80808069;
      border-radius: 5px
  }

  .section4 .img .imgs h3 {
      text-align: center;
      padding: 11%;
      font-size: 22px;
      font-weight: 800;
  }

  .img h3:hover {
      color: #ec1944;
  }

  .section5 {
      background-color: #ddd;
  }

  .section5 .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4% 0;
  }

  .section5 .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 7px 20px 7px;
  }

  .section5 .head1 {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section5 .head2 h3 {
      font-weight: 700;
      margin: 30px;
      font-size: 38px;
  }

  .section5 .head1 .line {
      margin-bottom: 12px;
      padding: 0 7px;
  }

  .section5 .imgs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 23px
  }

  .section5 .img {
      width: 350px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  /* .section5  i{
    display: none;
} */


  .section5 img {
      width: 350px;
      border-radius: 8px;
  }

  .section6 {
      padding: 7% 0px;
  }

  .section6 .box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      padding: 1% 10%;
  }

  .section6 .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .section6 .left .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .section6 .head1 {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section6 .head2 h3 {
      font-size: 40px;
      font-weight: 700;
      padding: 20px 0;
  }

  .section6 .para {

      font-size: 18px;
      opacity: 0.8;
      margin: 3% 0;
      margin-right: 17%;
  }

  .section6 .head1 .line {
      margin-bottom: 12px;
      padding: 0 7px;
  }

  .section6 .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
  }

  .section6 img {
      width: 290px;

  }

  .section6 .icon {

      display: flex;
      padding: 12px 0;
      align-items: center;
  }

  .section6 .icon .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
  }

  .icons .div1 {
      background: #ddd;
      border-radius: 50%;
      width: 28px;
      height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
  }

  .section7 {
      /*     padding: 7% 0px; */
      background-image: url(banner1.jpg);

  }

  .section7 .box {


      padding: 4% 10%;
      text-align: left;
  }

  .section7 .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;
  }

  .section7 .head1 {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section7 .head2 h3 {
      font-size: 40px;
      font-weight: 700;
      padding: 20px 0;
      color: white;
  }

  .section7 .para {

      font-size: 18px;
      opacity: 0.8;
      margin: 3% 0;
      margin-right: 17%;
      color: white;
  }

  .section7 .head1 .line {
      margin-bottom: 12px;
      padding: 0 7px;
  }

  .section8 .box {
      padding: 9% 4%;
  }

  .section8 .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 7px 20px 7px;
  }

  .section8 .head1 {
      display: flex;
      align-items: center;
      color: #ec1944;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .section8 .head2 h3 {
      font-weight: 700;
      margin: 30px;
      font-size: 38px;
  }

  .section8 .head1 .line {
      margin-bottom: 12px;
      padding: 0 7px;
  }

  .section8 .boxes {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      gap: 25px;
  }

  .section8 .box1 {
      width: 355px;
      border: 2px solid lightgray;
      height: 470px;
      border-radius: 4px;
  }

  .section8 .second {
      padding: 35px 35px;
  }
.section8 .box1:hover{
    
  /*   transform: scale(0.9,0.9); */
  cursor: pointer;
}
  .section8 .admin {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 20px 0;
  }

  .section8 .second h1 {
      background: #ec1944;
      width: 50%;
      color: white;
      font-size: 15px;
      border-radius: 7px;
      padding: 3px 2px;
      text-align: center;

  }
.section8 .admin .a:hover{
     color: #ec1944;
     cursor: pointer;
}
  .section8 .second h2 {
      font-size: 22px;
      padding: 10px 0;

  }
   .section8 .second h2:hover {
     color: #ec1944;
     cursor: pointer;
  }


  footer {
      background: black;
      color: white;
      padding: 5% 0;
  }

  footer .box {
      padding: 4% 9%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  footer .first {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      gap: 50px;
  }

  footer .div1 {
      display: flex;
      flex-direction: column;
      gap: 20px;

  }

  footer .div2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  footer .div3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }


  footer ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  footer .div4 {
      display: flex;
      flex-direction: column;
      gap: 20px;

  }

  footer h3 {
      font-size: 25px;

  }

  footer a {

      background-color: white;
      padding: 15px 18px;
      border-radius: 50%;
  }

  /* footer a :hover {

      background-color: #ec1944;
      color: white;
  } */

  footer .email {
      display: flex;
      align-items: center;
  }

  footer input {
      font-size: 17px;
      padding: 15px 55px 15px 20px;
      border-radius: 14px;
  }

  footer .email span {
      background: #ec1944;
      padding: 16px;
      border-radius: 5px;
      margin-left: 12px;
  }

  footer .line {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: gray;
      padding-bottom: 34px;
      opacity: 0.5;
  }

  footer .last {
      padding: 0;
  }

  @media screen and (max-width:1242px) {
      .last a button {
          padding: 15px 10px;
          font-size: 15px;
      }

      .section1 .box {
          margin: 0 10%;
      }

      .section1 .box h1 {
          font-size: 0 79px;
      }

      .last {
          padding-left: 2px;
      }

      .section3 .box {
          margin: 8% 6%;
      }

      .section3 .parahead {
          font-size: 29px;
      }

      .section4 .img .imgs {
          width: 250px;
      }

      .section4 .img .imgs img {
          width: 250px;
      }

      .section4 .img .imgs h3 {
          font-size: 20px;
      }

      .section5 .img {
          width: 320px;
      }

      .section5 .img img {
          width: 320px;
      }



      .section7 .head {
          width: 80%;
      }

      .section8 .box1 {
          width: 300px;
          border: 2px solid lightgray;
          height: 450px;
          border-radius: 4px;
      }

      .section8 img {
          width: 100%;
          height: 100%;
      }

  }

  @media screen and (max-width:1050px) {
      .box {
          margin: 2% 9%;
      }

      .p h3 {
          font-size: 20px;
      }

      .section3 .parahead {
          font-size: 27px;
      }

      .section3 .box {
          margin: 8% 10% 8% 6%;
      }

      .section4 .img .imgs {
          width: 200px;
      }

      .section4 .img .imgs img {
          width: 200px;
      }

      .section4 .img .imgs h3 {

          font-size: 17px;
          padding: 10%;

      }

      .section5 .img {
          width: 290px;
      }

      .section5 .img img {
          width: 290px;
      }

      .section7 .box {
          padding: 0;
      }


  }

  @media screen and (max-width:976px) {
      nav {
          padding: 0;
          margin: 0;
      }

      .middle {
          display: none;
      }

      .first {
          padding-right: 40%;
      }

      .last a button {
          display: none;
      }

      .last a img {
          display: none;
      }

      .last .menubar {
          display: block;
      }

      .section1 .box {
          margin: 0 10%;
      }

      .section1 .box h1 {
          font-size: 60px;
      }

      .darkhead h1 {
          font-size: 32px;
      }

      .section3 .parahead {
          font-size: 22px;
      }

      .section3 .box {
          display: block;
          margin: 0 15%;
          padding: 4% 5%;
      }

      .section3 .box .left {

          width: 100%;
          padding: 0 3%;
          margin-bottom: 7%;
      }

      .section3 .parahead {
          font-size: 34px;
          font-family: sans-serif;
          font-weight: 700;
      }

      .para p {
          margin-right: 14%;
      }

      .parahead h3 {
          margin: 3% 0
      }

      .left .head .line {
          margin-bottom: 17px;
          padding: 0 6px;

      }

      .section3 .para {
          font-family: sans-serif;
          font-size: 18px;
          opacity: 0.8;
      }

      .section3 .box .right {

          width: 100%;
          padding: 0 3%;

      }

      .section3 .img2 {
          margin-top: 0;

      }

      .section3 .right {
          gap: 15px;
      }

      .section4 .img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;
      }

      .section4 .img .imgs h3 {

          padding: 11%;
          font-size: 22px;

      }

      .section4 .img .imgs {
          width: 290px;
      }

      .section4 .img .imgs img {
          width: 290px;
      }

      .section5 .imgs {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 23px
      }

      .section6 .box {
          display: block;
      }
      .section6 .left {
          width: 100%;
          
      }
      .section6 .right {
          display: grid;
          gap: 15px;
          padding-top: 45px;
      }

      .section7 .box {
          padding: 9% 4%;
      }

      .section7 .head2 h3 {
          font-size: 30px;

      }

      .section8 .boxes {
          display: grid;
          grid-template-columns: auto auto;
          align-content: center;
          gap: 25px;
      }

      .section8 .box1 {
          width: 355px;
          border: 2px solid lightgray;
          height: 450px;
          border-radius: 4px;
      }

      .section8 .boxes .first {
          width: 100%;
      }

      .section8 img {
          width: 100%;

      }



  }

  @media screen and (max-width:963px) {
      .section2 .circles {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          align-content: center;
          justify-content: center;
      }

      footer .first {
          display: grid;
          grid-template-columns: auto auto auto;
          justify-content: center;
          gap: 50px;
          padding-bottom: 45px;
      }
    }

  @media screen and (max-width: 738px) {
      .section1 .box {
          margin: 0 5%;
      }

      .section7 .box {
          padding: 9% 4%;
      }

      .section1 .box h1 {
          font-size: 40px;
      }

      .section7 .head {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

      }
       .section8 .boxes {
          display: grid;
          grid-template-columns: auto ;
          align-content: center;
          gap: 25px;
      }

      .section8 .box1 {
          width: 500px;
          border: 2px solid lightgray;
          height: 550px;
          border-radius: 4px;
      }

      .section8 .boxes .first {
          width: 100%;
      }

      .section8 img {
          width: 100%;

      }
      
  }

  @media screen and (max-width:613px) {
      .section2 .circles {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .section2 .box {
          margin: 2%;
      }

      .darkhead h1 {
          font-size: 28px;
      }

  }